<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>    
    <section class="blogHeader">
      <div class="container">
        <div class="d-flex justify-content-between
        align-items-center">
          <ul class="blogMenu">
            <li><a href="blog.html">最新消息</a></li>
            <li><a href="blogSpecial.html">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
          </ul>
          <a href="#"
          class="text-white d-flex
          align-items-center">
            <span class="material-symbols-outlined"
            style="font-size: 30px !important;">search</span>
          </a>
        </div>

      </div>
    </section>
    
    <section class="blogSpecial">
      <div class="container">
        <div class="blogPathWrap">
          <ul class="blogPath">          
            <li><a href="#">首頁 /</a></li>
            <li><a href="#">部落格 /</a></li>
            <li><a href="#">特別企劃 /</a></li>
            <li><a href="#">情人特別企劃</a></li>
          </ul>
          <span>#special</span>
          <span>#event</span>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="blogProject">
              <h2>情人特別企劃</h2>
              <p>2020 Valentine’s Special</p>
            </div>
            <ul class="blogProjectList">
              <li>
                <img src="../assets/images/blogSpecial/blogpageOne.png" alt="blogpageOne"
                class="mb-2">
                <p>
                  一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                </p>
              </li>
              <li>
                <img src="../assets/images/blogSpecial/blogpageTwo.png" alt="blogpageTwo"
                class="mb-2">
                <p>
                  一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                </p>
              </li>
              <li>
                <img src="../assets/images/blogSpecial/blogpageThree.png" alt="blogpageThree"
                class="mb-2">
                <p>
                  一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                </p>
              </li>
              <li>
                <img src="../assets/images/blogSpecial/blogpageFour.png" alt="blogpageFour"
                class="mb-2">
                <p>
                  2/14(五)-2/20(日)<br> 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>期間優惠還有~~持他牌鏡框更換鏡片<br> 薄型非球面鏡片折300元<br> 濾藍光鏡片折500元<br> 快快帶上另一半<br> 讓彼此每一次睜開眼，都被愛的視線包圍!
                </p>                
              </li>
            </ul>
            <div class="d-lg-block d-md-none d-none">
              <ul class="blogSocial">
                <li><a href="#">
                  <p class="mb-0">Share</p>
                </a></li>
                <li><a href="#">
                  <img src="../assets/images/blogSpecial/fb/logo-facebook_sm.png" alt="fb_sm">
                </a></li>
                <li><a href="#">
                  <img src="../assets/images/blogSpecial/ig/logo-instagram_sm.png" alt="ig_sm">
                </a></li>
                
              </ul>
              <div class="blogInterView">
                <a href="#" class="blogInterViewLeft">
                  <span class="material-symbols-outlined">arrow_back</span>
                  <span>上一篇：街頭潮人訪問 1</span>
                </a>
                <a href="#" class="blogInterViewRight">
                  <span>下一篇：街頭潮人訪問 2</span>
                  <span class="material-symbols-outlined">arrow_forward</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-none d-md-block">
            <div class="tagWrap">
              <div class="mb-1">
                <span class="material-symbols-outlined">label</span>
                <span>TAGS</span>
              </div>
              <div class="mb-1">
                <span class="me-3">#special</span>
                <span>#sale</span>
              </div>
              <div class="mb-1">
                <span class="me-3">#new_item</span>
                <span>#sale</span>
              </div>
              <div class="mb-1">
                <span class="me-3">#new_item</span>
                <span>#interview</span>
              </div>
              <div class="mb-1">
                <span class="me-3">#trivia</span>
                <span>#news</span>
              </div>
              <div class="mb-1">
                <span>#event</span>                
              </div>
            </div>
          </div>
        </div>
        <div class="d-lg-none d-md-block
        d-none">
          <ul class="blogSocial">
            <li><a href="#">
              <p class="mb-0">Share</p>
            </a></li>
            <li><a href="#">
              <img src="../assets/images/blogSpecial/fb/logo-facebook_sm.png" alt="fb_sm">
            </a></li>
            <li><a href="#">
              <img src="../assets/images/blogSpecial/ig/logo-instagram_sm.png" alt="ig_sm">
            </a></li>
            
          </ul>
          <div class="blogInterView">
            <a href="#" class="blogInterViewLeft">
              <span class="material-symbols-outlined">arrow_back</span>
              <span>上一篇：街頭潮人訪問 1</span>
            </a>
            <a href="#" class="blogInterViewRight">
              <span>下一篇：街頭潮人訪問 2</span>
              <span class="material-symbols-outlined">arrow_forward</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
