<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%> 
    <div class="container px-0">
      <ul class="productListMenu
      row row-cols-3 gx-0">
        <li class="col"><a href="productList.html">OPTICAL</a></li>
        <li class="col"><a href="newProducts.html">SUNGLASSES</a></li>
        <li class="col"><a href="#">FUNCTIONAL</a></li>
      </ul>   
    </div>

    <section class="row row-cols-2 gx-0">
      <div class="col">
        <img src="../assets/images/newProductsPage/newProductHeader/newProduct-headerLeft.png"
        alt="headerLeftImg"
        class="d-lg-block d-none">
        <img src="../assets/images/newProductsPage/newProductHeader/product-headerLeft_sm.png"
        alt="headerLeftImg_sm"
        class="d-lg-none d-block" style="width: 100%;">
      </div>
      <div class="col">
        <img src="../assets/images/newProductsPage/newProductHeader/newProduct-headerRight.png"
        alt="headerRightImg"
        class="d-lg-block d-none">
        <img src="../assets/images/newProductsPage/newProductHeader/product-headerRight_sm.png"
        alt="headerRightImg_sm"
        class="d-lg-none d-block"
        style="width: 100%;">
      </div>
    </section>

    <section class="productList">
      <div class="container">
        <div class="mb-5">
          <h2 class="text-center">2020 NEW COLLECTION</h2>
          <p class="text-center mb-0">賽璐珞鈦金屬混合鏡框</p>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1
        g-4">          
          <div class="col">
            <a href="#">
              <img src="../assets/images/productsPage/porductList/productSeven.png"
              alt="productSeven">
              <div class="d-flex justify-content-between
              productListItem">
                <p>BJ41600S</p>
                <p>NTD3,490</p>
              </div>
              <div class="colorL"></div>
              <div class="colorR"></div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <img src="../assets/images/productsPage/porductList/productEight.png"
              alt="productEight">
              <div class="d-flex justify-content-between
              productListItem">
                <p>BJ41600S</p>
                <p>NTD3,490</p>
              </div>
              <div class="colorL"></div>
              <div class="colorR"></div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <img src="../assets/images/productsPage/porductList/productNine.png"
              alt="productNine">
              <div class="d-flex justify-content-between
              productListItem">
                <p>BJ41600S</p>
                <p>NTD3,490</p>
              </div>
              <div class="colorL"></div>
              <div class="colorR"></div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <img src="../assets/images/productsPage/porductList/productTen.png"
              alt="productTen">
              <div class="d-flex justify-content-between
              productListItem">
                <p>BJ41600S</p>
                <p>NTD3,490</p>
              </div>
              <div class="colorL"></div>
              <div class="colorR"></div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <img src="../assets/images/productsPage/porductList/productEleven.png"
              alt="productEleven">
              <div class="d-flex justify-content-between
              productListItem">
                <p>BJ41600S</p>
                <p>NTD3,490</p>
              </div>
              <div class="colorL"></div>
              <div class="colorR"></div>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <img src="../assets/images/productsPage/porductList/productTwelve.png"
              alt="productTwelve">
              <div class="d-flex justify-content-between
              productListItem">
                <p>BJ41600S</p>
                <p>NTD3,490</p>
              </div>
              <div class="colorL"></div>
              <div class="colorR"></div>
            </a>
          </div>
        </div>        
      </div>
    </section>
    
    <%- include('./layout/pagination'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
